@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?30398640');
  src: url('../font/fontello.eot?30398640#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?30398640') format('woff'),
       url('../font/fontello.ttf?30398640') format('truetype'),
       url('../font/fontello.svg?30398640#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.social {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.social .social-icon {
  margin: 0 0.5rem;
  text-decoration: none;
  font: 0/0 a;
}

.social .social-icon:before {
  content: attr(data-icon);
  font-size: 3rem;
  line-height: 1;

  font-family: 'fontello';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}


