body.theme {
  background: #E91818;
  font-family: Georgia, Times, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
}

.theme h1,
.theme h2,
.theme h3 {
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.theme hr {
  margin-left: -1rem;
  margin-right: -1rem;
  border-style: dashed;
  border-bottom-width: 0;
}

.theme a {
  color: red;
}

.theme .masthead {
  margin-bottom: 0.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.theme .masthead-title {
  font-size: 2rem;
  line-height: 1;
  color: inherit;
  text-transform: uppercase;
}

.theme .masthead-title small {
  display: block;
  margin-top: 0.5rem;
  font-size: 50%;
  color: inherit;
}

.theme .masthead-title a {
  color: white;
  text-shadow: 0 0.6rem 0.1rem rgba(0, 0, 0, 0.2);
}

.theme .masthead-title a:hover,
.theme .masthead-title a:focus {
  text-decoration: none;
}

.theme .masthead-title {
  padding: 0.75rem 0;
}

.theme .content {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
  background: white;
  border-radius: 1px;
  box-shadow:
    0 0 1px 2px rgba(255, 255, 255, 0.1),
    0 0 0px 4px rgba(0, 0, 0, 0.1),
    0 0 2px 0px rgba(0, 0, 0, 0.5),
    inset 0 0 1px 1px #eee;
}

.theme .post-title,
.theme .post-date {
  text-align: center;
}

.theme .post-title a {
  color: inherit;
}

.theme .pagination {
  margin-bottom: 2rem;
  font-family: inherit;
}

.pagination-item:first-child {
  border-top-left-radius: 0.1rem;
  border-bottom-left-radius: 0.1rem;
}

.pagination-item:last-child {
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
}

.theme a.pagination-item:hover,
.theme a.pagination-item:active,
.theme a.pagination-item:focus {
  color: white;
  background: red;
  border-color: red;
  text-decoration: none;
}

.theme a.pagination-item:focus {
  outline: none;
}

.theme .social-icon {
  color: rgba(125, 125, 125, 0.3);
}

.theme a.social-icon:hover,
.theme a.social-icon:active,
.theme a.social-icon:focus {
  color: red;
}

.theme .footer {
  text-align: center;
  color: #888;
}

@media (min-width: 30rem) {
  .theme .content {
    padding: 2rem;
  }
}
