<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body class="theme">

    <div class="container masthead">
      <h3 class="masthead-title">
        <a href="/" title="Home">{{ site.title }}</a>
        <small>{{ site.tagline }}</small>
      </h3>
    </div>

    <div class="container content">

      {{ content }}

      <div class="social">
        <a class="social-icon" href="https://github.com/thejameskyle" title="James Kyle's Github Profile" data-icon="&#xe800;">Github</a>
        <a class="social-icon" href="https://twitter.com/thejameskyle" title="James Kyle's Twitter Profile" data-icon="&#xe801;">Twitter</a>
        <!-- <a class="social-icon" href="https://linkedin.com/in/thejameskyle" title="James Kyle's LinkedIn Profile" data-icon="&#xe802;">LinkedIn</a> haha, no. -->
        <a class="social-icon" href="http://www.rdio.com/people/thejameskyle/" title="James Kyle's Rdio Profile" data-icon="&#xe803;">Rdio</a>
      </div>

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
