primary_color      = red
primary_background = #292E3C

secondary_color      = white
secondary_background = white

body.theme
  background primary_background
  font-family Georgia, Times, "Times New Roman", serif
  -webkit-font-smoothing antialiased

  h1, h2, h3
    color #444
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif

  hr
    margin-left  -1rem
    margin-right -1rem
    border-style dashed
    border-bottom-width 0

  a
    color primary_color

  .masthead
    margin-bottom 0.5rem
    text-align center
    color rgba(secondary_color, 0.3)

  .masthead-title
    padding 0.75rem 0
    font-size 2rem
    line-height 1
    color inherit
    text-transform uppercase

    small
      display block
      margin-top 0.5rem
      font-size 50%
      color inherit

    a
      color secondary_color
      text-shadow 0 0.6rem 0.1rem rgba(black, 0.2)

      &:hover, &:focus
        text-decoration none

  .content
    position relative
    margin-bottom 2rem
    padding 1rem
    background secondary_background
    border-radius 1px

    @media (min-width: 30rem)
      padding 2rem

  .post-image
    margin -1rem -1rem 1rem
    padding 1rem

    @media (min-width: 30rem)
      margin -2rem -2rem 2rem

    img
      max-width 100%
      height auto
      margin 0 auto

  .post-image-hero
    padding 0

    img
      width 100%
      border-radius 0

  .post-title, .post-date
    text-align center

  .post-title a
    color inherit

  .pagination
    margin-bottom 2rem
    font-family inherit

  .pagination-item:first-child
    border-top-left-radius    0.1rem
    border-bottom-left-radius 0.1rem

  .pagination-item:last-child
    border-top-right-radius    0.1rem
    border-bottom-right-radius 0.1rem

  a.pagination-item
    &:hover, &:active, &:focus
      color secondary_color
      background primary_color
      border-color primary_color
      text-decoration none

    &:focus
      outline none

  .social-icon
    color rgba(gray, 0.3)

  a.social-icon
    &:hover, &:active, &:focus
      color primary_color

  .footer
    text-align center
    color #888
